html, body {
	height: 100%;
	width: 100%;
}

body {
	align-items: center;
}

header {
	margin-bottom: 25px;
}

.signin-container {
	background: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,.5)), url("https://img.freepik.com/vector-gratis/tiendas-abarrotes-personajes-personas_18591-61671.jpg?size=626&ext=jpg");
	
	height: 100%;
	width: 100%;
	margin: auto;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
}  

.form-signin {
	width: 100%;
	max-width: 350px;
	padding: 15px;
	margin: auto;
	background-color: rgba(180, 180, 180, 0.85);
	border-radius: 10px;
}

