<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Jorge Michelen">
<title>Mercado</title>

<!-- Bootstrap core CSS -->
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/default.css" rel="stylesheet">
</head>
<body>
	<header>
		<div
			class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
			<h4 class="mr-md-auto font-weight-bold">
				<img src="https://img.icons8.com/color/48/000000/market-square.png" />Mercado
			</h4>
			<nav class="pref-nav my-2 my-md-0 mr-md-3">
				<a class="p-3 text-dark" href="/">Comprar</a> <a
					class="p-3 text-dark" href="/administrar/info/ventas">Ventas
					Realizadas</a> <a class="p-3 text-dark" href="/administrar/productos">Administrar
					Productos</a>
			</nav>
			<a class="btn btn-outline-success" href="#"><img
				src="https://img.icons8.com/color/48/000000/shopping-cart-loaded.png"
				width="25px" height="25px" />(0)</a>
		</div>
	</header>

	<div class="container">
		<div class="mx-auto text-center">
			<h4>CRUD Productos</h4>
		</div>
		<a href="/administrar/producto/crear" class="btn btn-success mb-2"
			role="button">Crear Producto</a>
		<table class="table table-bordered table-hover text-center">
			<thead class="thead-dark">
				<tr>
					<th>Producto</th>
					<th>Precio (RD$)</th>
					<th>Accion</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="producto : ${productos}">
					<tr>
						<td th:text="${producto.nombre}"></td>
						<td th:text="${producto.precio}"></td>
						<td>
							<form th:id="${producto.id} + 'editar'"
								action="/administrar/producto/editar" th:object="${producto}"
								method="POST">
								<input type="hidden" name="id" th:value="${producto.id}" />
								<button type="submit" th:form="${producto.id} + 'editar'"
									class="btn btn-primary btn-block btn-rounded mb-2">Editar</button>
							</form>
							<form th:id="${producto.id} + 'eliminar'"
								action="/administrar/producto/eliminar" th:object="${producto}"
								method="POST">
								<input type="hidden" name="id" th:value="${producto.id}" />
								<button type="submit" th:form="${producto.id} + 'eliminar'"
									class="btn btn-danger btn-block btn-rounded">Eliminar</button>
							</form>
						</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>
</html>
