<!doctype html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Jorge Michelen">
<title>Mercado</title>

<!-- Bootstrap core CSS -->
<link href="/bootstrap/css/bootstrap.css" rel="stylesheet">

<!-- Custom styles for this template -->
<link href="/default.css" rel="stylesheet">
</head>
<body>
	<header>
		<div
			class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 border-bottom shadow-sm">
			<h4 class="mr-md-auto font-weight-bold">
				<img src="https://img.icons8.com/color/48/000000/market-square.png" />Mercado
			</h4>
			<nav class="pref-nav my-2 my-md-0 mr-md-3">
				<a class="p-3 text-dark" href="/">Comprar</a> <a
					class="p-3 text-dark" href="/administrar/info/ventas">Ventas
					Realizadas</a> <a class="p-3 text-dark" href="/administrar/productos">Administrar
					Productos</a>
			</nav>
			<a class="btn btn-outline-success" href="#"><img
				src="https://img.icons8.com/color/48/000000/shopping-cart-loaded.png"
				width="25px" height="25px" />(0)</a>
		</div>
	</header>

	<div class="container">
		<div class="mx-auto text-center">
			<h4>Listado de Ventas Realizada</h4>
		</div>


		<th:block th:each="venta : ${ventas}">
			<table class="table table-bordered table-hover text-center">
				<thead class="thead-dark">
					<h5><span th:text="${venta.nombreCliente} + ' - ' + ${venta.fechaCompra}"></span></h5>
					<tr>
						<th>Producto</th>
						<th>Precio (RD$)</th>
						<th>Cantidad</th>
						<th>Total (RD$)</th>
					</tr>
				</thead>
				<tbody>
					<th:block th:each="compra : ${venta.listaProductos}">
						<tr>
							<td th:text="${compra.producto.nombre}"></td>
							<td th:text="${compra.producto.precio}"></td>
							<td th:text="${compra.cantidad}"></td>
							<td th:text="${compra.total}"></td>
						</tr>
					</th:block>
				</tbody>
				<tfoot class="text-right table-active font-weight-bold">
					<tr>
						<td th:text="'Total: ' + ${venta.total}" colspan="4"></td>
					</tr>
				</tfoot>
			</table>
		</th:block>
	</div>
</body>
</html>
