<!doctype html>
<html lang="es">
<head th:fragment="head">
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="Jorge Michelen">

<script src="https://code.jquery.com/jquery-3.5.1.js"
	integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
	crossorigin="anonymous"></script>

<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
	integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk"
	crossorigin="anonymous">
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
	
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">	

<link href="/default.css" rel="stylesheet">

<title>Mercado</title>
</head>
<body>
	<header th:fragment="header">
		<nav
			class="navbar navbar-expand-lg navbar-dark bg-dark text-nowrap navbar-default"
			role="navigation">
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbar" aria-controls="navbarNavDropdown"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="navbar-header">
				<a class="navbar-brand logo-font" href="/">
					<img src="https://img.icons8.com/color/48/000000/market-square.png"
						alt="Logo">
					<span>Mercado</span>
				</a>
			</div>

			<div class="d-flex order-lg-1 ml-auto pr-2">
				<a class="navbar-text btn btn-outline-success" href="/carrito">
					<img
						src="https://img.icons8.com/color/48/000000/shopping-cart-loaded.png"
						width="25px" height="25px" />
					<span th:text="'(' + ${carrito_cantidad} + ')'"></span>
				</a>
			</div>

			<div class="collapse navbar-collapse" id="navbar">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link" href="/">Comprar</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/administrar/info/ventas">Ventas
							Realizadas</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="/administrar/productos">Administrar
							Productos</a>
					</li>

					<li class="nav-item">
						<hr class="border-top">
					</li>
				</ul>

				<div th:block class="order-last">
					<div th:if="${usuario}">
						<ul class="navbar-nav mr-auto">

							<li class="nav-item">
								<a class="nav-link" href="/cuenta/desloguear">Cerrar Sesion</a>
							</li>
						</ul>
					</div>

					<div th:unless="${usuario}">
						<ul class="navbar-nav mr-auto">
							<li class="nav-item">
								<a class="nav-link" href="/cuenta/logear">Iniciar Sesion</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="/cuenta/registrar">Registrarse</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</nav>
	</header>

	<div class="mx-auto text-center" th:fragment="titulo(texto)">
		<h4 th:text="${texto}"></h4>
	</div>
</body>
</html>